@font-face {
  font-family: sofia-sans;
  src: url("/fonts/SofiaSans-VF.ttf");
}

// color variables
$purple: #8a2be2;
$light-purple: #b0a6ee;
$gray: #d9d9d9;

// for all
* {
  font-family: sofia-sans;
}

// universal
.btn-clear {
  background: none;
  border: none;
}
.bg-purple {
  background-color: $purple;
}
.text-purple {
  color: $purple;
}

// components
.searchbar {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  input {
    border: none;
    padding: 0.5em 1em;
  }
}
.navbar {
  .searchbar {
    width: 400px !important;
    @media (max-width: 992px) {
      width: 100% !important;
    }
  }
}

// icon size
.icon-24 {
  width: 24px;
  height: 24px;
  object-fit: contain;
  object-position: center;
}
.icon-32 {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
}

.landing-page {
  .carousel-sec {
    .slide {
      padding: 0 1rem;
      @media (max-width: 1200px) {
      }
      @media (max-width: 992px) {
      }
      @media (max-width: 768px) {
      }
      @media (max-width: 576px) {
        padding: 0 0.5rem;
      }
      .card-carousel {
        border-radius: 0.25rem;
        border: 1px solid #d9d9d9;
        .thumbnail {
          position: relative;
          width: 40%;
          min-height: 200px;
          @media (max-width: 1200px) {
          }
          @media (max-width: 992px) {
          }
          @media (max-width: 768px) {
          }
          @media (max-width: 576px) {
            width: 100%;
          }
        }
        .desc {
          width: 60%;
          padding: 24px 32px;
          @media (max-width: 1200px) {
          }
          @media (max-width: 992px) {
          }
          @media (max-width: 768px) {
          }
          @media (max-width: 576px) {
            width: 100%;
          }
        }
        .date {
          color: #b0b0b0;
        }
      }
    }
  }
  .display-event {
    .card-event {
      border: 1px solid #d9d9d9;
      border-radius: 0.5rem;
      overflow: hidden;
      margin-bottom: 2rem;
      .thumbnail--card-event {
        position: relative;
        width: 100%;
        height: 150px;
      }
      .decs--card-event {
        padding: 1rem;
      }
    }
    // .main-display-event {
    //   border-right: 1px solid #d9d9d9;
    // }
  }
}

.footer {
  .box-social {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.vertical-line {
  height: 100%;
  width: 1px;
  background-color: #d9d9d9;
}

.about {
  .hero {
    background-image: url("/img/banner-about.jpg");
    background-position: center;
    background-size: cover;
    background-color: red;
    min-height: 500px;
    height: 75vh;
  }
  .icon-achievement {
    width: 42px;
    height: 42px;
    object-fit: contain;
    object-position: center;
  }
  .card-fitures {
    height: 340px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    img {
      position: absolute;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    background-position: center;
    background-size: cover;
    .desc-card {
      background-color: #e28d2bcc;
      width: 100%;
    }
  }
  .faq {
    .question {
      border: 1px solid #d9d9d9;
    }
    .answer {
      border: 1px solid #d9d9d9;
      border-top: none;
    }
  }
}

.single-event {
  .guests-star {
    .banner-guest-star {
      position: relative;
      height: 280px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      background-color: #e28e2b;
      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        top: 0;
        right: 20px;
      }
      .desc {
        position: relative;
        z-index: 1;
      }
    }
  }
  .event-information {
    .descr {
      position: relative;
      &::after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }
  }
  .tickets {
    .card-ticket {
      .collapse-ticket {
        border: 2px solid $gray;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .extend-ticket {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .card-booking {
    border: 2px solid $gray;
    border-radius: 8px;
  }
}

.profile {
  .card-profile {
    overflow: hidden;
    border: 2px solid $gray;
    .banner {
      position: relative;
      height: 150px;
      width: 100%;
      background-color: $light-purple;
      .img-profile {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 100%;
      }
    }
    .desc {
      padding-top: 72px !important;
    }
  }
  .card-event {
    border-width: 2px;
    .thumbnail-event {
      height: 100px;
      width: 178px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.history-profile {
  .card-event {
    .thumbnail-event {
      height: 100px;
      width: 178px;
    }
  }
}
